
*.pdb
*.dll
/.vs
/DBTemplateHanlder-WebSite/obj/Release/netcoreapp3.0
/DBTemplateHandler.Core/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Core/obj/Release/netcoreapp3.0
/DBTemplateHandler.Api/obj/Release/netcoreapp3.0
/DBTemplateHandler.Api/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Api/obj/Debug/netcoreapp3.0
/DBTemplateHandler.Api/obj
/DBTemplateHandler.Core/obj
/DBTemplateHandler.Core.UnitTests/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Core.UnitTests/obj
.vs/DBTemplateHanlder-NetCore3/xs/project-cache/DBTemplateHandler.Core-Debug.json
.vs/DBTemplateHanlder-NetCore3/xs/sqlite3/storage.ide
.vs/DBTemplateHanlder-NetCore3/xs/sqlite3/storage.ide-shm
.vs/DBTemplateHanlder-NetCore3/xs/sqlite3/storage.ide-wal
.vs/DBTemplateHanlder-NetCore3/xs/UserPrefs.xml
/DBTemplateHandler.Service.Contracts/obj
/DBTemplateHandler.Service.Contracts/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Studio/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Studio/obj
/DBTemplateHandler.Persistance/obj
/DBTemplateHandler.Persistance/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Ace.Editor.Tools.Core/obj/Debug/netcoreapp3.0
/DBTemplateHandler.Ace.Editor.Tools.Core/obj
/DBTemplateHandler.Ace.Editor.Tools.Core/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Ace.Editor.Tools.Core.UnitTests/obj
/DBTemplateHandler.Ace.Editor.Tools.Core.UnitTests/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Studio.Deployment/obj
/DBTemplateHandler.Studio.Deployment/bin/Debug/netcoreapp3.0
/DBTemplateHander.DatabaseModel.Import/obj
/DBTemplateHander.DatabaseModel.Import/bin/Debug/netcoreapp3.0/DBTemplateHander.DatabaseModel.Import.deps.json
/DBTemplateHandler.DatabaseModel.Import.IntegrationTests/obj
/DBTemplateHandler.DatabaseModel.Import.IntegrationTests/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Utils/obj/Debug/netcoreapp3.0
/DBTemplateHandler.Utils/obj
/DBTemplateHandler.Utils/bin/Debug/netcoreapp3.0/DBTemplateHandler.Utils.deps.json
