
*.pdb
*.dll
/.vs
/DBTemplateHanlder-WebSite/obj/Release/netcoreapp3.0
/DBTemplateHandler.Core/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Core/obj/Release/netcoreapp3.0
/DBTemplateHandler.Api/obj/Release/netcoreapp3.0
/DBTemplateHandler.Api/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Api/obj/Debug/netcoreapp3.0
/DBTemplateHandler.Api/obj
/DBTemplateHandler.Core/obj
/DBTemplateHandler.Core.UnitTests/bin/Debug/netcoreapp3.0
/DBTemplateHandler.Core.UnitTests/obj
.vs/DBTemplateHanlder-NetCore3/xs/project-cache/DBTemplateHandler.Core-Debug.json
.vs/DBTemplateHanlder-NetCore3/xs/sqlite3/storage.ide
.vs/DBTemplateHanlder-NetCore3/xs/sqlite3/storage.ide-shm
.vs/DBTemplateHanlder-NetCore3/xs/sqlite3/storage.ide-wal
.vs/DBTemplateHanlder-NetCore3/xs/UserPrefs.xml
