@page "/"
@namespace DBTemplateHandler.Studio.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DBTemplateHandler.Studio</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    @*<script src="~/scripts/jquery-ui/external/jquery/jquery.js"></script>
    <script src="~/scripts/jquery-ui/jquery-ui.min.js"></script>*@
    <script src="~/scripts/ace/ace.js"></script>
    <script src="~/scripts/ace/ext-language_tools.js"></script>
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.Server))
    </app>

    <script src="_framework/blazor.server.js"></script>
    <script type="text/javascript">
        //function onBlazorReady() {
        //    $(".autocomplete-template-file-path").autocomplete({ source: ["test-filepath", "test2-filepath", "test3-filepath"] });
        //    $(".autocomplete-template-file-content").autocomplete({ source: ["test-ninianain"] });
        //};

        var editor;
        function onBlazorReadyInitializeEditor() {
            // trigger extension
            ace.require("ace/ext/language_tools");
            editor = ace.edit("editor");
            editor.session.setMode("ace/mode/html");
            editor.setTheme("ace/theme/tomorrow");
            // enable autocompletion and snippets
            editor.setOptions({
                enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: false
            });
        }

        function setEditorContent(fileType,fileContent) {
            if (!editor) return;
            editor.setValue(fileContent,-1);
            editor.session.setMode("ace/mode/" + fileType);
        }

        window.getEditorContent = () => {
            if (!editor) return "";
            return editor.getValue();
        }

    </script>
    </script>

</body>
</html>
