@page "/editor"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<div class="md-form row">
    <textarea id="form7" class="md-textarea form-control w-75" rows="10"></textarea>
    <table class="w-25" rows="10" cols="2">
        <tr>
            <th>Template Navigator</th>
        </tr>
        <tr>
            <td>First template name</td>
        </tr>
        <tr>
            <td>Second template name</td>
        </tr>
        <tr>
            <td>Third template name</td>
        </tr>
    </table>
</div>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
