@page "/type-mapping"

@using DBTemplateHandler.Core.Database
@using DBTemplateHandler.Studio.Data
@inject DBTemplateService dbTemplateService


<div class="container">
    <div class="row">
        <h1>Type mappings</h1>
    </div>
    <div class="row">
        <div class="col-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Choose</span>
            </div>
            <select class="form-control">
                <option value="">-- Select Mapping --</option>
            </select>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary"><span class="oi oi-plus" /></button>
            <button class="btn btn-secondary">Save</button>
            <button class="btn btn-danger"><span class="oi oi-trash"></span></button>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary"><span class="oi oi-plus" />Add Item</button>
            <button class="btn btn-danger"><span class="oi oi-trash"></span>Delete Item</button>
        </div>
    </div>
    <div class="row">
        <div class="input-group col-5">
            <div class="input-group-prepend">
                <span class="input-group-text">Source Type</span>
            </div>
            <input type="text" class="form-control" @bind="@SourceType" />
        </div>
        <div class="col-2">
            =>
        </div>
        <div class="input-group col-5">
            <div class="input-group-prepend">
                <span class="input-group-text">Destination Type</span>
            </div>
            <input type="text" class="form-control" @bind="@DestinationType" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group" rows="10">
                <li class="list-group-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                Current source type
                            </div>
                            <div class="col-2">=></div>
                            <div class="col-5">Current destination type</div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">Other source type => Other destination type</li>
            </ul>
        </div>
    </div>
</div>

@code{
    public string SourceType { get; set; }
    public string DestinationType { get; set; }
}
