@page "/type-mapping"

@using DBTemplateHandler.Core.Database
@using DBTemplateHandler.Studio.Data
@inject DBTemplateService dbTemplateService


<div class="container">
    <div class="row">
        <h1>Type mappings</h1>
    </div>
</div>
