<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DBTemplateHandler.Studio</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="database-model-designer">
                <span class="oi oi-pencil" aria-hidden="true"></span> Database Designer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editor">
                <span class="oi oi-terminal" aria-hidden="true"></span> Template Editor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="import">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Import
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
